body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.profile-picture {
  border-radius: 360px;
  height: 100px;
  width: 100px;
}

.introduction {
  width: 50%;
  margin: auto;
  line-height: 2;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-top: 100px;
  margin-bottom: 100px;
}



.skills-picture {
  width: 25%;
  height: 300%;
  float: left;
  margin-right: 30px;
}

.skills-picture2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

h1 {
  line-height: 2;
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;

}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #B9E0FF;
  position: relative;
  padding-top: 100px;
}

.game-player {
  margin-bottom: 50px;
}

.footer-link {
  color: #11999E;
}

.middle-container {
}

.bottom-container {
  margin-top: 30px;
  padding: 50px;
  word-spacing: 40px;
  background-color: #66BFBF;
}

.contact-me {
  margin-bottom: 100px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
  margin-top: 50px;
  word-spacing: normal;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
